{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Delete{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1>Delete</h1>
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Are you sure you want to delete "{{ discussion.title }}"?</p>
    <button class="btn btn-outline-warning ml-2" type="submit">Confirm</button>
    <a class="btn btn-outline-info ml-2" href="{% url 'discussion_detail' discussion.pk %}">Nevermind</a>
  </form>
</div>
{% endblock %}
