.my_header{
  display: inline-block;
  text-decoration: underline;
}

.button-wrap {
  margin: 10px;
}

.weather_link {
  margin-left: 10px;
}

.my_container {
  padding-bottom: 10px;
}

#my_card-header {
  background-color: #B5D8EA;
}

.highlight {
  text-decoration: underline;
  font-weight: bold;
}

.social {
    float:right;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }
