{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Delete{% endblock %}

{% block content %}
  <h3>Confirm</h3>
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Are you sure you want to delete your comment?</p>
    <p>{{ comment.comment }}</p>
    <button class="btn btn-outline-danger ml-2 btn-sm" type="submit">Confirm</button>
    <a class="btn btn-outline-warning ml-2 btn-sm" href="{% url 'article_list' %}">Cancel</a>
  </form>
{% endblock %}
