{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Share a post{% endblock %}

{% block content %}
<div class="m-3">
  {% if sent %}
  <h1>E-mail successfully sent</h1>
  <p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</p>
  {% else %}
  <h1>Share post by email</h1>
  <p><strong>Share this post: </strong>{{ post.title }}</p>
  <form action="." method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <input class="btn btn-success" type="submit" name="" value="Send email">
  </form>
  {% endif %}
</div>
{% endblock %}
