{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="container m-3">
    {% if user.is_authenticated %}
      <h1 class="my-4">{{ user.username }},</h1>
      <h1 class="my-4">Thanks for checking out my website! Take a look:</h1>
    {% else %}
      <h1>Thanks for checking out my website! You're not logged in</h1>
      <p>
        <a href="{% url 'login' %}">login</a> | <a href="{% url 'signup' %}">signup</a> | <a href="{% url 'password_reset' %}">password reset</a><br>
      </p>

    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card my-4 shadow-sm d-flex h-95">
            <div class="card-body h-100">
              <h5 class="card-title">Shopping Center</h5>
              <p class="card-text"><a href="{% url 'shop:product_list' %}">Take me shopping</a></p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-4">
          <div class="card my-4 shadow-sm d-flex h-95">
            <div class="card-body h-100">
              <h5 class="card-title">Discussion Board</h5>
              <p class="card-text"><a href="{% url 'discussion_list' %}">See what everyone is talking about</a></p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-4">
          <div class="card my-4 shadow-sm d-flex h-95">
            <div class="card-body h-100">
              <h5 class="card-title">Weather Page</h5>
              <p class="card-text"><a href="{% url 'weather:weather_list' %}">What's the weather doing?</a></p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-4">
          <div class="card my-4 shadow-sm d-flex h-95">
            <div class="card-body h-100">
              <h5 class="card-title">My Personal Blog</h5>
              <p class="card-text"><a href="{% url 'blog:post_list' %}">See what I've been ranting about</a></p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-4">
          <div class="card my-4 shadow-sm d-flex h-95">
            <div class="card-body h-100">
              <h5 class="card-title">Stock Market</h5>
              <p class="card-text"><a href="{% url 'stock_market:stock_list' %}">Keep track of your favorite stocks</a></p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-4">
          <div class="card my-4 shadow-sm d-flex h-95">
            <div class="card-body h-100">
              <h5 class="card-title">My Resume</h5>
              <p class="card-text"><a href="{% static 'resume_for_erin_rosenbaum.pdf' %}">Your company goes here</a></p>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  <!--
  <h4 class=''>Sources:</h4>
  <p>Creating a Weather App in Django Using Python Requests </p>
  <p>https://www.youtube.com/watch?v=v7xjdXWZafY</p>
  <p>Django for Beginners. William S. Vincent</p>
  <p>Django 2 by Example. Antonio Mele </p> -->

  </div>


{% endblock %}
