{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Shopping Center{% endblock title %}</title>
{% block styles %}
<link rel="stylesheet" href="{% static '/discussion_board/css/just_shop.css' %}">
{% endblock %}

{% block content %}
<div id="subheader" class="">
  <div class="row align-items-center h-100">
    <div class="col-lg-4 col-sm-12 h-100 justify-content-center">
       <a class="justify-content-center align-self-center" href="{% url 'home' %}">Skip shopping for now, take me back home</a>
    </div>
    <div class="col-lg-4 col-sm-12 align-middle">
        <h1 class="d-inline-block ml-5 align-middle">Shopping Center</h1>
    </div>
    <div class="col-lg-4 col-sm-12 align-middle">
      <div class="cart align-middle">
        {% with total_items=cart|length %}
        <i class="fas fa-shopping-cart align-middle"></i>
          {% if cart|length > 0 %}
            <span class="align-middle">Your cart:
            <a class="" href="{% url 'cart:cart_detail' %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a></span>
          {% else %}
          <span class="align-middle">Your cart is empty</span>
          {% endif %}
        {% endwith %}
        </div>
    </div>
  </div>
  </div>


{% block sub_content %}
{% endblock %}

{% endblock %}
