{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Weather{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static '/discussion_board/css/styles.css' %}">
{% endblock %}
{% block content %}
<div id="" class="weather_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-3">Weather Page</h1>
          <h4 class="mb-3">Keep track of the weather in your favorite cities. Add the cities you want, delete the ones you don't.</h4>
          <p><a class="btn btn-outline-info" href="{% url 'weather:new_city' %}">Add a new city</a></p>
      </div>
    </div>

      <div class="row">
        {% for city in weather_data %}
        <div class="col-md-4">
          <div class="card mb-4 border-0">
            <div id="weather_card" class="card-body">
              <h4 class="card-text">{{ city.name }}</h4>

              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span class="title">{{ city.description|capfirst }}</span><br>
                      <span class="title">Current: {{  city.temperature|floatformat:'0' }} ℉</span><br>
                      <span class="title">Min: {{  city.temp_min|floatformat:'0' }} ℉</span><br>
                      <span class="title">Max: {{  city.temp_max|floatformat:'0' }} ℉</span><br>
                    </p>
                  </div>
                </div>
              </article>
              <div class="container text-center">
                <a class="btn btn-outline-info" href="{% url 'weather:city_detail' city.pk %}">Details</a>
                <a class="btn btn-outline-info" href="{% url 'weather:city_delete' city.pk %}">Delete</a>
              </div>


            </div>
          </div>
        </div>
        {% endfor %}
      </div>

  </div>

  </div>

{% endblock %}
