{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Weather{% endblock %}

{% block content %}

<div class="container">
  <div class="row button-wrap">
    <div class="col-lg-12">
      <h1 class="">Weather Page</h1>
        <p>Keep track of the weather in your favorite cities. Add the cities you want, delete the ones you don't.</p>
        <a class="btn btn-outline-info btn-sm" href="{% url 'weather:new_city' %}">Add location</a>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      {% for city in weather_data %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h4 class="card-text">{{ city.name }}</h4>

            <article class="media">
              <div class="media-left">
                <figure class="image is-50x50">
                  <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <span class="title">{{ city.description }}</span><br>
                    <span class="title">Current: {{  city.temperature|floatformat:'0' }} ℉</span><br>
                    <span class="title">Min: {{  city.temp_min|floatformat:'0' }} ℉</span><br>
                    <span class="title">Max: {{  city.temp_max|floatformat:'0' }} ℉</span><br>

                  </p>

                </div>

              </div>

            </article>
            <a href="{% url 'weather:city_detail' city.pk %}">Details</a> |
            <a href="{% url 'weather:city_delete' city.pk %}">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
